/* Certification page
--------------------------------*/

.main-section {
    width: 100%;
    height: 100vh;
    background: #fff;
    border-bottom: 1px solid white;
    /* background-size: cover; */
    /* position: relative; */
}

.main-section-subtitle {
    font-size: 2rem;
}

.main-content-margin {
    padding: 80px 0;
}

.left-container {
    width: 300px;
}

.main-section-btn {
    margin: 0;
    font-size: 1.5rem;
}

.certificate-img {
    position: absolute;
    width: 285px;
    right: -62px;
}

.certificate-img-responsive {
    width: 250px;
}

.certificate-container {
    background-color: #fff;
}

.ebooks-container {
    background-color: #FFF5FE;
}

.certificate-content-f-size {
    font-size: 1.2rem;
}

.partners-card-main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.partner-card-container {
    width: 280px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.partner-card-content {
    height: 100%;
    background: #E9EBEF;
}

.partner-card-title {
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

.partner-card-img {
    width: 200px;
}

.certificate-testimonies-container {
    background-color: #E9EBEF;
}

.certificate-testimonies-card {
    margin-bottom: 5px;
    background-color: #fff;
    padding: 20px;
    position: relative;
}

.quotation-certificate-icon {
    position: absolute;
    right: -40px;
    bottom: -11px;
    width: 100px;
}

.support-container {
    background-color: #fff;
}

.support-call-action {
    background: #000;
    color: #fff;
    width: 600px;
    padding: 40px 20px 20px 20px;
}

.support-call-action-icon {
    font-size: 85px;
    position: absolute;
    top: -65px;
    color: #ff66c4;
}

.custom-shape-divider-bottom-1677361909 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677361909 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1677361909 .shape-fill {
    fill: #FFF5FE;
}

.ebook-icon {
    position: absolute;
    width: 285px;
    right: -142px;
}

.ebook-card-container {
    margin-bottom: 40px;
}

.ebook-img {
    width: 130px;
    position: absolute;
    top: -120px;
}

.ebook-card-content {
    background-color: #FFC5FF;
    padding: 100px 10px 30px 10px;
}

.custom-ebook-card-mt {
    margin-top: 80px;
}

.ebook-card-action-btn {
    position: absolute;
    bottom: -33px;
}

.custom-d-block {
    display: none;
}

.custom-d-block-mobile {
    display: flex;
}

.custom-pt-5 {
    padding-top: 3rem !important;
}

.custom-ebook-content-mt {
    margin-top: 0px;
}

.custom-align-items-center {
    align-items: center !important;
}

.custom-container-pl {
    padding-left: 160px;
}

@media (max-width: 768px) {
    .main-content-resp-card-img {
        padding: 80px 0px 40px 0px;
        background: #ff66c4;
    }

    .custom-d-none {
        display: none !important;
    }

    .custom-d-block {
        display: block;
    }

    .partner-card-container {
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }

    .main-content-margin {
        padding: 80px 0px 0px 0px;
    }

    .ebook-icon {
        position: inherit;
        width: 160px;
    }

    .certificate-img {
        position: inherit;
        width: 200px;
    }

    .main-section-subtitle {
        font-size: 1.0rem;
    }

    .custom-pt-5 {
        padding-top: 9rem !important;
    }

    .custom-ebook-content-mt {
        margin-top: 2.5rem;
    }

    .custom-ebook-card-mt {
        margin-top: 90px;
    }

    .custom-order-2 {
        order: 2;
    }

    .custom-page-title-size {
        font-size: 2.5rem !important;
        margin-top: 1.5rem;
    }

    .custom-align-items-center {
        align-items: start !important;
    }

    .custom-d-block-mobile {
        display: block;
    }

    .main-section-btn {
        font-size: 1.2rem;
    }

    .custom-container-pl {
        padding-left: 15px;
    }

    .partners-card-main {
        display: flex;
        flex-direction: column !important;

    }
}